.bookingpagebox-heading img{
    height: 32px;
    width: 32px;
}
.bookingpagebox{
    background: #dfeaf5;
    padding: 20px;
    gap: 25px;
}
.bookingpagebox-tab{
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 15px;
}
.bookingpagebox-tab ul{
    padding: 10px 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: #dfeaf5;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 30px;
}
.bookingpagebox-tab .nav-link{
    display: flex !important;
    color: black !important;
    align-items: center !important;
    font-size: 14px;
    font-weight: 500;
}
.tab-pane h4{
    border-left: 5px solid #396BCA;
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    background: #eef4fa;
    font-weight: 700;
    color: #0e3d6f;
}