.table-wrapper {
  /*width: 1130px;*/
  overflow-x: scroll !important;
  -webkit-overflow-scrolling: touch;
}
.table-wrapper table{
    /*width: 1130px;*/
    max-width: none;
    border-radius: 10px; 
    
}

.table-wrapper td {
  white-space: nowrap;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 14px;
  width: fit-content;
}
.table-wrapper th{
    background: #396BCA;
    color: white;
    white-space: nowrap;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 15px;
}
.table-wrapper .form-select{
  padding: 3px !important;
}