/* [project]/src/app/bookingpage/bookingpage.css [app-client] (css) */


/* [project]/src/component/sidenav/SideNav.css [app-client] (css) */
.sidenav {
  background: #2a2a2a;
  height: 100%;
}

.sidenav-linkbox img {
  width: 32px;
  height: 32px;
}

.sidenav-col {
  gap: 35px;
}

.sidenav-logo {
  background: #fff;
  border-radius: 5px;
}

.sidenav-logo img {
  width: auto;
  height: 70px;
}

.sidenav-links {
  gap: 20px;
}

.sidenav-linkbox {
  color: #fff;
  gap: 5px;
  font-size: 15px;
  align-items: center !important;
}

/* [project]/src/component/header/Header.css [app-client] (css) */
.header-box img {
  width: auto;
  height: 32px;
}

.header-sub_box-bottom img {
  width: auto;
  height: 15px;
}

.header-sub_box-bottom {
  gap: 5px;
}

.header-sub_box-bottom a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.header {
  background: #efefef;
  padding: 15px 10px;
  box-shadow: 0 6px 12px -2px #32325d40, 0 3px 7px -3px #0000004d;
}

.header-box {
  gap: 5px;
  width: fit-content;
  margin-left: auto;
  align-items: center !important;
}

.header-box p {
  color: #0e3d6f;
  font-size: 26px;
}

.header-box-logo img {
  border-radius: 50%;
  margin-right: 5px;
}

.header-outerbox {
  position: relative;
}

.header-sub_box {
  background: #fff;
  border-radius: 10px;
  gap: 10px;
  width: fit-content;
  padding: 20px 0;
  position: absolute;
  top: 40px;
  right: 10px;
  box-shadow: 0 2px 5px -1px #32325d40, 0 1px 3px -1px #0000004d;
  display: none !important;
}

.header-outerbox:hover .header-sub_box {
  display: flex !important;
}

.header-sub_box-top p {
  color: gray;
  gap: 5px;
  font-size: 13px;
}

.header-sub_box-top strong {
  color: #000;
}

.header-sub_box-top {
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 20px 15px;
}

/* [project]/src/component/footer/Footer.css [app-client] (css) */
.footer {
  background: #efefef;
  padding: 15px 10px;
}

.footer p {
  color: gray;
  font-size: 15px;
}

/* [project]/src/component/bookingpagedetail/BookingPageDetail.css [app-client] (css) */
.bookingpage-detail {
  flex-wrap: wrap;
  gap: 14px;
  padding: 20px;
}

.bookingpage-detail-box label {
  color: gray;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.bookingpage-detail-box {
  width: 24%;
}

.bookingpage-detail-box input, .bookingpage-detail-box select {
  background: #eee;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.form-select:focus {
  box-shadow: none;
}

.form-select, .bookingpage-detail-box input::placeholder {
  color: #000;
  font-size: 13px;
}

input[type="date"] {
  font-size: 13px;
}

.bookingpage-detail-search-btn {
  color: #fff;
  background: #396bca;
  gap: 3px;
  margin-left: auto;
  font-size: 15px;
  font-weight: 500;
  align-items: center !important;
  display: flex !important;
}

.bookingpage-detail-search-btn img {
  width: auto;
  height: 23px;
}

.bookingpage-detail-search-btn:hover {
  background: #0e3d6f;
}

.bp-custom-card {
  background: #f77344;
  border-radius: 5px;
  padding: 10px 20px;
}

.bp-custom-card p {
  color: #fff;
  font-size: 15px;
}

.bookingpage-detail-custom-card {
  gap: 15px;
}

/*# sourceMappingURL=src_df78939c._.css.map*/