.table-wrapper {
  width: 1130px;
  overflow-x: scroll !important;
  -webkit-overflow-scrolling: touch;
}
.table-wrapper table{
    width: 1130px;
    max-width: none;
    border-radius: 10px;
    
}


.table-wrapper th,
.table-wrapper td {
  white-space: nowrap;
  border: 1px solid #ccc;
  padding: 8px 12px;
}
.table-wrapper th{
    background: #eeeeee;
}